h2,
div,
p {
  margin: 0;
  padding: 0;
}

.card {
  width: 200px;
  height: 350px;
}

.bookCard {
  width: 200px;
  height: 350px;
  border: 1px solid black;
  margin-left: 55px;
  cursor: move;
  .bookImg {
    width: 160px;
    height: 180px;
    margin: 10px 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .bookInfo {
    font-size: 0.8rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
  }
}
