<div class="m-0 p-0 pb-4"
    style="background-image: linear-gradient(to left, #d7d2cc 0%, #304352 100%); position: relative;">
    <div class="container justify-content-center">
        <p class="headerPanelLogin">Please Login to your account</p>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="email" class="col-12 mb-3">E-Mail:</label>
                <input type="email" class="col-12 mb-3" id="email" ngModel name="email" required email />
            </div>
            <div class="form-group">
                <label for="password" class="col-12 mb-3">Password:</label>
                <input type="password" class="col-12 mb-3" id="password" ngModel name="password" required
                    minlength="6" />
            </div>

            <button class="btn-login" type="submit" [disabled]="!authForm.valid">Login</button>

        </form>
    </div>
</div>