.bagBar {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 1rem;
  top: 1rem;

  svg {
    position: fixed;

    width: 2.5rem;
    height: 2.5rem;
    right: 0.5rem;
  }
  span {
    position: fixed;
    font-size: 2.5rem;
    right: 2.5rem;
    color: gold;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.01); /* Półprzezroczyste tło */
  z-index: 2;
  .logoutPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 25rem;
    width: 18rem;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    overflow-y: auto;
    z-index: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;

    .btn-closeLogoutPopup {
      margin-top: 1rem;
      font-size: 0.7rem;
      border-radius: 5px;
      padding: 0 1rem 0 1rem;
      z-index: 3;
    }
  }
}
