<!-- <div [ngClass]="innerWidth < 992 ? 'mobile' : 'desktop'" [ngClass]="isBook ? 'bookIs' : ''"> -->
<div [ngClass]="{
        'mobile': innerWidth < 992,
        'desktop': innerWidth >= 992,
        'bookIsMobile': isBook && innerWidth < 992,
        'bookIsDesktop': isBook && innerWidth >= 992
      }">
  <div> {{ isAuthenticated ? 'You are logged in to your account as'
    :'You are not logged in to your account' }}</div>
  <button class="btnLogin" type="submit"
    (click)="redirectToLoginPanel(isAuthenticated ? '/user-panel' : '/login-panel', 'btnLogin')">
    {{ isAuthenticated ? 'Go to your account' : 'Login' }}
  </button>
</div>