.bookCard {
    position: relative;
    width: 200px;
    height: 350px;
    border: 1px solid black;
    margin: 10px auto;

    cursor: move;

    .bookImg {
      width: 160px;
      height: 180px;
    }
    .bookInfo {
      font-size: 0.8rem;
      font-weight: 700;
    }

    button {
      width: 4.5rem;
      font-size: 0.7rem;
      border-radius: 5px;
      padding: 0;
    }
    .dropUp {
      font-size: 10px;
      margin-left: 40px;
    }

    .moreInfo {
      position: absolute;
      width: 200px;
      height: 310px;
      padding: 1rem;
      margin-left: -13px;
      font-size: 0.7rem;
      font-weight: bold;
      background-color: white;
      bottom: 40px;

      button {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
      }
    }
  }
