.bagBar {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 1rem;
  top: 2rem;

  svg {
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    right: 0.5rem;
  }
  span {
    position: fixed;
    font-size: 2.5rem;
    right: 2.5rem;
    color: gold;
  }
}

.panelBtns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;

  button {
    width: 200px;
    margin: 5px 0;
  }
}

.inputSetName {
  width: 200px;
}

.btn-change-name {
  margin-top: 1rem;
}

.userOrders {
  width: 320px;
  margin: auto;
}

.userOrdersInfo {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}
.fetchingView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 200px;
  padding: 20px;
  margin: 1rem 1rem;
}

.fetchingView p {
  margin: 10px 0;
}
.alert-danger-errorMsg {
  font-size: 0.6rem;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userOrderEls {
  padding: 0rem 0 0 1rem;
}
.userOrderEl {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.userOrderEl {
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  transition: background-color 0.2s;
}

.userOrderEl.selected {
  background-color: #ffd166;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 500px) {
  .panelBtns {
    width: 440px;

    button {
      margin: 5px 5px 5px 5px;
    }
  }
}
@media screen and (min-width: 900px) {
  .panelBtns {
    width: 880px;
  }
  .userOrders {
    width: 500px;
  }
  .userOrderEl {
    width: 130px;
  }
}

@media (min-width: 1200px) {
  .bagBar {
    svg {
      width: 5rem;
      height: 5rem;
      right: 4rem;
      path {
        width: 100px;
        height: 100%;
      }
    }
    span {
      right: 8rem;
      font-size: 4.5rem;
    }
  }
}
