<div class="areBooksMobile">
    <div class="d-flex flex-row justify-content-around align-items-cente mt-2">
        <button [ngClass]="{'active': isActive('/user-panel')}"
            [routerLink]="isActive('/user-panel') ? '/order-fields' : '/user-panel'"
            [disabled]="isActive('/user-panel') && bagOfBooksArr.length === 0">


            {{ isActive('/user-panel') ? 'Order Fields' : 'Your Account' }}
        </button>

        <button class="" routerLink="/sales-window">Book Shop</button>
        <button class="" (click)="closeAside()">Close</button>
    </div>
    <p>Your Bag</p>
    <ul class="m-0 p-0">
        <li class="container row m-0 p-0 mt-4" *ngFor="let bookEl of uniqueBooksArr;">

            <div class=" col-5">
                <img class="img-fluid" src="{{bookEl.imageLink}}" alt="book's image">
            </div>
            <div class="d-flex flex-column justify-content-between col-7 p-0" [ngStyle]="{'font-size': '0.7rem'}">
                <div class="mt-2">{{bookEl.title}}</div>
                <div class="mt-2">{{bookEl.author}}</div>
                <div class="mt-2" [ngStyle]="{'font-weight': 'bold'}">{{bookEl.price}} $</div>

                <div *ngIf="countSameBook(bookEl)" class="d-flex m-0 p-0 mt-2"
                    [ngClass]=" {'justify-content-end': howMoreSameBook < 2, 'justify-content-between' : howMoreSameBook> 1}">
                    <p *ngIf="howMoreSameBook > 1" class="d-flex align-items-center m-0 p-0"
                        [ngStyle]="{'font-weight': 'bold'}">
                        Amount: {{ howMoreSameBook}}</p>
                </div>
            </div>

        </li>
    </ul>
    <div class="totalCost"> Total: {{totalCost}}$</div>
</div>