button {
  min-width: 4.5rem;
  font-size: 0.7rem;
  border-radius: 5px;
}
// .noBooksMobile {
//   position: absolute;
//   position: fixed;
//   height: 5rem;
//   width: 15rem;
//   right: 1rem;
//   background-color: grey;
//   border: 1px solid black;
//   border-radius: 5px;
//   font-size: 1rem;
//   font-weight: bold;
//   text-transform: uppercase;
//   z-index: 1;

//   .test {
//     height: 10rem;
//   }

//   p {
//     padding-top: 0.5rem;
//     text-align: center;
//   }
// }

.noBooksDesktop {
  height: 100%;
  border-left: 1px solid black;
  padding: 5rem 2rem 0 2rem;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  p {
    position: none;
  }

  .closeBtn {
    visibility: hidden;
  }
}

.areBooksMobile {
  position: absolute;
  position: fixed;
  max-height: 25rem;
  width: 18rem;
  right: 1rem;
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  overflow-y: auto;

  p {
    padding-top: 0.5rem;
    text-align: center;
  }

  ul {
    list-style-type: none;
  }
}
.totalCost {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-weight: bold;
}
