<div class="overlay" *ngIf="isOpen">
    <div class="logoutPopup">
        <p *ngIf="isOpen && !(error$ | async) && !isFetching" class="text-center">{{ response }}</p>
        <div *ngIf="(error$ | async) as error" class="text-center">
            <p [ngStyle]="{ 'color': 'red' }">{{ error }}</p>
        </div>
        <button class="btn-closeLogoutPopup" type="button" (click)="closeLogoutPopup()">OK</button>
    </div>
</div>
<div *ngIf="isFetching" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>