.container {
  width: 300px;
  padding-top: 1rem;

  .headerOrder {
    text-align: center;
    text-transform: uppercase;
  }
  .row {
    width: 295px;
    margin-top: 1rem;

    input.ng-invalid.ng-touched {
      border: 1px solid red;
    }
  }

  .errorInput {
    margin: 0.3rem 0 0;
    font-size: 0.7rem;
    color: red;
  }

  .textarea-wrapper {
    position: relative;
    .additionalInformation {
      margin-left: 0.4rem;
      height: 100px;
      padding: 0.2rem 0.4rem;
    }
    span {
      padding: 0;
      max-width: 3rem;
      position: absolute;
      bottom: 1px;
      right: 1px;
    }
  }
}
