<div class="m-0 p-0 pb-4"
    style="background-image: linear-gradient(to left, #d7d2cc 0%, #304352 100%); position: relative;">
    <!-- BAG-BAR -->
    <div class="m-0 p-0 bagBar">
        <svg class='fontawesomesvg' class="fa fa-solid fa-bars" *ngIf="!isAsideOpen" (click)="openAside()"
            style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
                d="M253.3 35.1c6.1-11.8 1.5-26.3-10.2-32.4s-26.3-1.5-32.4 10.2L117.6 192H32c-17.7 0-32 14.3-32 32s14.3 32 32 32L83.9 463.5C91 492 116.6 512 146 512H430c29.4 0 55-20 62.1-48.5L544 256c17.7 0 32-14.3 32-32s-14.3-32-32-32H458.4L365.3 12.9C359.2 1.2 344.7-3.4 332.9 2.7s-16.3 20.6-10.2 32.4L404.3 192H171.7L253.3 35.1zM192 304v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16zm96-16c8.8 0 16 7.2 16 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16zm128 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16z" />
        </svg>
        <span *ngIf="countAllBookInBag > 0">{{countAllBookInBag}}</span>

        <div *ngIf="isAsideOpen">
            <app-order-fields-book-in-bag (isAsideOpen)="isAsideOpen=$event"
                (countAllBookInBag)="countAllBookInBag=$event"></app-order-fields-book-in-bag>
        </div>
    </div>

    <!-- ORDER-FILEDS -->
    <div class="container justify-content-center">
        <p class="headerOrder">please fill fields to delivery</p>
        <!-- <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"> -->
        <form [formGroup]="signupForm">
            <div formGroupName="orderData">
                <div class="form-group">
                    <div class="row mt-1 d-flex justify-content-center">
                        <label for="name" class="col-6">Name</label>
                        <input type="text" id="name" class="col-6" formControlName="name">
                        <span class="m-1 p-0 d-flex justify-content-end"
                            *ngIf="!signupForm.get('orderData.name')?.valid && signupForm.get('orderData.name')?.touched">
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('orderData.name')?.errors?.['required']">The
                                This field is required.</span>
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('orderData.name')?.errors?.['pattern']">
                                Strings only, without spaces and numbers.</span>
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('orderData.name')?.errors?.['minlength']">
                                The length not less than 4 symbols.</span>
                        </span>
                    </div>
                    <div class="row mt-1 d-flex justify-content-between">
                        <label for="surname" class="col-6">Surname</label>
                        <input type="text" id="surname" class="col-6" formControlName="surname">
                        <span class="m-1 p-0 d-flex justify-content-end"
                            *ngIf="!signupForm.get('orderData.surname')?.valid && signupForm.get('orderData.surname')?.touched">
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('orderData.surname')?.errors?.['required']">The
                                This field is required.</span>
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('orderData.surname')?.errors?.['pattern']">
                                Strings only, without spaces and numbers.</span>
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('orderData.surname')?.errors?.['minlength']">
                                The length not less than 5 symbols.</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <label for="date" class="col-6">Delivery Date</label>
                <mat-form-field appearance="fill" class="col-6 p-0 test">
                    <!-- [ngStyle]="{'height.px': 50}" -->
                    <input matInput [matDatepicker]="picker" min="{{miniumDeliveryDate | date: 'yyy-MM-dd'}}"
                        formControlName="deliveryDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <span class="m-1 p-0 d-flex justify-content-end"
                    *ngIf="!signupForm.get('deliveryDate')?.valid && signupForm.get('deliveryDate')?.touched">
                    <span class="errorInput m-0 p-0" *ngIf="signupForm.get('deliveryDate')?.errors?.['required']">The
                        This field is required.</span>
                </span>
            </div>
            <div formGroupName="deliveryAdrress">
                <div class="form-group">
                    <div class="row d-flex justify-content-between">
                        <label for="street" class="col-6">Street</label>
                        <input type="text" id="street" class="col-6" formControlName="street">
                        <span class="m-1 p-0 d-flex justify-content-end"
                            *ngIf="!signupForm.get('deliveryAdrress.street')?.valid && signupForm.get('deliveryAdrress.street')?.touched">
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('deliveryAdrress.street')?.errors?.['required']">The
                                This field is required.</span>
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('deliveryAdrress.street')?.errors?.['pattern']">
                                Strings and numbers, without spaces.</span>
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('deliveryAdrress.street')?.errors?.['minlength']">
                                The length not less than 5 symbols.</span>
                        </span>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <label for="houseNumber" class="col-6">House Number</label>
                        <input type="text" id="houseNumber" class="col-6" formControlName="houseNumber">
                        <span class="m-1 p-0 d-flex justify-content-end"
                            *ngIf="!signupForm.get('deliveryAdrress.houseNumber')?.valid && signupForm.get('deliveryAdrress.houseNumber')?.touched">
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('deliveryAdrress.houseNumber')?.errors?.['required']">The
                                This field is required.</span>
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('deliveryAdrress.houseNumber')?.errors?.['pattern']">
                                Something wrong.</span>
                        </span>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <label for="flatNumber" class="col-6">Flat Number</label>
                        <input type="text" id="flatNumber" class="col-6" formControlName="flatNumber">
                        <span class="m-1 p-0 d-flex justify-content-end"
                            *ngIf="!signupForm.get('deliveryAdrress.flatNumber')?.valid && signupForm.get('deliveryAdrress.flatNumber')?.touched">
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('deliveryAdrress.flatNumber')?.errors?.['required']">The
                                This field is required.</span>
                            <span class="errorInput m-0 p-0"
                                *ngIf="signupForm.get('deliveryAdrress.flatNumber')?.errors?.['pattern']">
                                Something wrong.</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <p class="col-6 m-0">Choose The Payment Type:</p>
                <div class="radio col-3 m-0 p-0 d-flex align-items-center justify-content-center"
                    *ngFor="let paymentType of paymentTypes">
                    <input type="radio" name="paymentType" value="{{paymentType}}" formControlName="paymentType">
                    {{paymentType}}
                </div>
                <span class="m-1 p-0 d-flex justify-content-end"
                    *ngIf="!signupForm.get('paymentType')?.valid && signupForm.get('paymentType')?.touched">
                    <span class="errorInput m-0 p-0" *ngIf="signupForm.get('paymentType')?.errors?.['required']">The
                        This field is required.</span>
                </span>
            </div>
            <div class="row d-flex justify-content-between">
                <label for="name" class="col-6">Choose 2 gifts:</label>
                <p *ngFor="let gift of gifts" class="m-0 p-0">
                    <input type="checkbox" class="m-2" [disabled]="!gift.isClick && howClickedGifts > 1"
                        (click)="clickGift(gift)">
                    {{gift.text}}
                </p>
            </div>

            <div class="row d-flex justify-content-center textarea-wrapper">
                <p class="mb-1">Additional information to order:</p>
                <textarea class=" additionalInformation justify-content-center" name="additionalInformation"
                    value="{{additionalInformation}}" formControlName="additionalInformation" placeholder="text..."
                    [maxlength]="maxCharsOfArea"></textarea>
                <!--
                <span
                    *ngIf="signupForm.controls['additionalInformation'] && signupForm.controls['additionalInformation'].value.length">

                    {{signupForm.controls['additionalInformation'].value.length}} /{{maxCharsOfArea}}</span> -->
                <span>

                    {{signupForm.controls['additionalInformation'].value?.length ?? 0}} /{{maxCharsOfArea}}</span>
            </div>



            <button class="btn-order" type="submit" [disabled]="!signupForm.valid" (click)="order()">Order</button>
            <button class="btn-exit-order" routerLink="/sales-window">Back to Book Shop</button>
            <button class="btn-exit-order" (click)="deleteOrders()">Delete Orders</button>
            <button class="btn-exit-order" (click)="fetchOrders()">Fetch Orders</button>
            <button class="btn-exit-order" (click)="fetchOrder()">Fetch Order</button>
        </form>
    </div>
</div>

<div class="col-xs-12 col-md-6 col-md-offset-3">
    <p *ngIf="loadedOrders.length < 1 && !isFetching">No posts available!</p>
    <ul class="list-group" *ngIf="loadedOrders.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let order of loadedOrders">
            <h3>{{ order.id }}</h3>
            <p>{{ order.books }}</p>
        </li>
    </ul>
    <p *ngIf="isFetching && !error">Loading...</p>
    <div class="alert alert-danger" *ngIf="error">
        <p>An error occurred!</p>
        <p>{{error}}</p>
    </div>
</div>



<!-- handling forms in angular apps/ Template-driven method

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
        <div class="row d-flex justify-content-center">
            <label for="name" class="col-6">Name</label>

            <input type="text" id="name" class="col-6" ngModel name="name" #name="ngModel" required minlength="4"
                pattern="^[a-zA-Z0-9.]*$">

            <p class="errorInput" *ngIf="!name.valid && name.touched">The length not less than 4 symbols,
                strings only, without spaces.</p>
        </div>
        <div class="row d-flex justify-content-between">
            <label for="surname" class="col-6">Surname</label>
            <input type="text" id="surname" class="col-6" ngModel name="surname" #surname="ngModel" required
                minlength="5" pattern="^[a-zA-Z.]*$">
            <p class="errorInput" *ngIf="!surname.valid && surname.touched">The length not less than 5 symbols,
                strings only, without spaces.</p>
        </div>
    </div>
</form> -->