header {
  height: 100px;
  background-image: url("../../img/library.jpg");
  background-position: center;
  background-size: cover;
  .headerShadow {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

header,
h1 {
  margin: 0;
  padding: 0;
}
