
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$BooksShop-Project-Angular-primary: mat.define-palette(mat.$indigo-palette);
$BooksShop-Project-Angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$BooksShop-Project-Angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$BooksShop-Project-Angular-theme: mat.define-light-theme((
  color: (
    primary: $BooksShop-Project-Angular-primary,
    accent: $BooksShop-Project-Angular-accent,
    warn: $BooksShop-Project-Angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($BooksShop-Project-Angular-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }
}
@media (min-width: 576px) {
  // .footerSpan {
  //   font-size: 2rem;
  // }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1rem;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
