<li class="container row m-0 p-0 mt-4">
    <div class="col-5">
        <img class="img-fluid" src="{{bookItem.imageLink}}" alt="book's image">
    </div>
    <div class="col-7 p-0" [ngStyle]="{'font-size.rem': 0.7}">
        <div class="col-12 mt-2">{{bookItem.title}}</div>
        <div class="col-12 mt-2">{{bookItem.author}}</div>
        <div class="col-12 mt-2">{{bookItem.price}} $</div>
        <div class="col-12 mt-2" [ngStyle]="{'text-align': 'right', 'padding-right.rem': 1}">
            <button>Remove</button>
        </div>
    </div>
</li>