.areBooksMobile {
  font-size: 0.7rem;
}

@media (min-width: 992px) {
  .areBooksDesktop {
    font-size: 0.7rem;
  }
}
@media (min-width: 1194px) {
  .areBooksDesktop {
    font-size: 0.7rem;
  }
}
@media (min-width: 1250px) {
  .areBooksDesktop {
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  .areBooksDesktop {
    font-size: 1.3rem;
  }
}

button {
  right: 5px;
  bottom: 5px;
  width: 4.5rem;
  font-size: 0.7rem;
  border-radius: 5px;
  padding: 0;
}
