.noBooksMobile {
  position: absolute;
  position: fixed;
  height: 5rem;
  width: 15rem;
  right: 1rem;
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;

  p {
    padding-top: 0.5rem;
    text-align: center;
  }

  button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 4.5rem;
    font-size: 0.7rem;
    border-radius: 5px;
    padding: 0;
  }
}

.noBooksDesktop {
  height: 100%;
  border-left: 1px solid black;
  padding: 5rem 2rem 0 2rem;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  p {
    position: none;
  }

  button {
    visibility: hidden;
  }
}
