<div *ngIf="bagOfBooks.length > 0; then areBooks; else noBooks"></div>
<ng-template #areBooks>
    <div class="container">
        <div [ngClass]="innerWidth < 992 ? 'areBooksMobile' : 'areBooksDesktop'">
            <p>Your Bag</p>
            <ul class="m-0 p-0">
                <app-bookinbag *ngFor="let bookEl of bagOfBooks" [bookItem]="bookEl"></app-bookinbag>
            </ul>
            <div class="mt-3">Total: {{totalCost}}$</div>
            <div>
                <div>Confirm Order</div>
                <div>Clear All</div>
            </div>
            <button type="button" (click)="closeAside()">Close</button>
        </div>
    </div>
</ng-template>


<ng-template #noBooks>
    <div [ngClass]="innerWidth < 992 ? 'noBooksMobile' : 'noBooksDesktop'">
        <p>No books in your bag</p>
        <button type="button" (click)="closeAside()">Close</button>
    </div>
</ng-template>